input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
    color: var(--text-color);
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 8px; 
    padding: 10px;
    min-width: 0;
    flex: 1;
}
 
select {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 