// Add a color to both maps and it becomes var(--name) everywhere.
$light: (
  text-color: black,
  background-color: white,
  toolbar-background-color:  rgb(235, 235, 235), 
  brand-color: #eff5fc,
  input-background-color: #fff,
  input-border-color: #ccc,
  input-border-color-focus: #ddd,
  list-item-background-color: #f8f9fa,
  list-item-border-color: #dee2e6,
);

$dark: (
  text-color: white,
  background-color: #333,
  toolbar-background-color:  rgb(56, 56, 56), 
  brand-color: #242527,
  input-background-color: #333,
  input-border-color: #555,
  input-border-color-focus: #222,
  list-item-background-color: #333333,
  list-item-border-color: #535353, 
);

@mixin vars($theme) {
  @each $name, $value in $theme {
    --#{$name}: #{$value};
  }
}
